body
{
	font-family: Verdana, Tahoma, sans-serif;
}
input
{
	border-radius: 5px;
	padding: 5px;
	margin: 10px 0 0 10px;
	box-shadow:  1px 1px 0px #8ba96c;
	border: 1px solid #fff;
	background: #ebf4ba; /* Old browsers */
	background: -moz-linear-gradient(top,  #ebf4ba 0%, #d3e59e 52%, #b6cc64 52%, #d2e582 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf4ba), color-stop(52%,#d3e59e), color-stop(52%,#b6cc64), color-stop(100%,#d2e582)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ebf4ba 0%,#d3e59e 52%,#b6cc64 52%,#d2e582 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ebf4ba 0%,#d3e59e 52%,#b6cc64 52%,#d2e582 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ebf4ba 0%,#d3e59e 52%,#b6cc64 52%,#d2e582 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ebf4ba 0%,#d3e59e 52%,#b6cc64 52%,#d2e582 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf4ba', endColorstr='#d2e582',GradientType=0 ); /* IE6-9 */
	}
input:hover
{
	cursor:pointer;
	background:#e7efc4;
}
section
{
	margin: 20px;
	font-size: 14px;
	max-width: 300px;
	background: #000;
	color: #254f00;
	border: 1px solid #8da66f;
	border-radius: 5px;
	padding: 5px;
	background-color: #dfe6bf;
}
textarea
{
	width: 300px;
	font-size: 15px;
	color: #254f00;
	border: 1px solid #8da66f;
	border-radius: 5px;
	box-shadow: inset 2px 2px 2px #73875e;
	padding: 5px;
	margin: 20px;
	background-color: #dfe6bf;
}
li>ul
{
	display: none;
}
nav>ul li
{
	list-style-image: url('bullet.png');
	color: #223300;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

#theUl
{
	list-style-type: none;
}
#theUl li
{
	float: left!important;
}
#theUl>li>a
{
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}
#theUl>li>a:hover
{
	color: green!important;
}
#box
{
	max-width:300px;
}